body{
    background-color: rgb(0, 90, 0);
    text-align: justify;
    font-size: 20px;
}

header{
    background-image: url(headerkep.jpg);
    height: 150px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
}

h2 , h1{
    text-align: center;
}

footer{
    background-color: rgb(0, 130, 0);
    padding: 10px;
    border-radius: 20px;
    position: absolute;
    width: 100%;
}

#buli{
    background-color: rgb(94, 72, 43);
    padding: 5px;
    border-radius: 10px;
    border: 3px solid black;
}

#segítség{
    text-align: center;
    text-decoration: underline;
    transition: transform 2s;
    margin: auto;
    width: 480px;
}

#segítség:hover{
    transform: rotateX(360deg) rotateY(360deg) rotateZ(360deg);
}

iframe{
    display: flex;
    margin: 20px auto;
    border-radius: 20px;
}

#elérhetőségekImage{
    float: right;
    width: 150px;
    margin-right: 30px;
}